.google_logo{
    width:70px;
    height:auto;

}
.container{
    background: #000000;
}
.navbar{
    background-color: #000000;
}
.navbar-nav{
    mrgin-left:100px;
    padding-top: 10px;
}

@media(max-width: 768px) {
    .navbar-nav{
        mrgin-left:0px;
        padding-top: 0px;
    }
}

 a {
    color: #ffffff;
}
.container_background{
    background-color: #2b669a;
    margin-top: 50px;
    display: block;

}
 .image_back{
 background-color: #2b669a;
     padding: 40px;;
 }
 .customize_btn{
     color: #3e8f3e;
     font-size: 20px;
     margin: 5px;
     background-color: #000;
     border:none;
     transition-duration:1s;
     -ms-text-align-last: left;
     text-align-last: left;

 }
 .thumbnail{
     color: #000;
 }
.customize_btn:hover{
    color: #737373;
    transform: scale(1.1);
}
.container_heading{
    background-color:#a94442;
}
.container_table{
    padding: 30px;
}
tr > td{
    background-color: blanchedalmond;
}
tr:last-child > td {
    background-color: transparent;
}
.btn{
    margin-left: 10px;
}
.pagination{
    margin: 0px;
}